{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Login Page{% endblock title %}</title>
    
</head>
<body>
    {% block content %}
    <div class="container">
        <h1>User - Login</h1>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Enter Username" class="inp" name="username" ><br>
            <input type="password" placeholder="Enter Password" class="inp" name="password"><br>
            <button  type="submit" class="logout-button">Login</button>
        </form>
        <p>Don't have an account?<a href="{% url 'signup' %}"> Register</a></p>
        <p>Are you an admin?<a href="{% url 'adminlogin' %}"> Login</a></p>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endblock content %}
</body>
</html>
